*,
*::before
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


/*.container {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
}*/
.container {
  background-color: #0c1a27;
  overflow: hidden;
  /*min-width: 800px;*/
}
.cf:after {
  content: "";
  display: table;
  clear: both;
}
p, h4, h3, h2, h1, ul, li, a {
  color: white;
  font-family: Baskerville;
}
li a:hover {
  color: #990922;
}
  /*heading*/
.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
  width: auto;
  color: white;
}

.header h1 {
  overflow: hidden;
  position: absolute;
  text-align: right;
  right: 5%;
  white-space: nowrap;
  padding: 60px;
  margin-top: 60px;
  left: 0.5%;
  margin-left: -10px;
}

/*navbar*/
.navbar {
  margin-left: 2%;
  padding-right: 5px;
  color: white;

  position: fixed;
  padding-top: 20px;

 }
 .navbar li {
  color: white;
  display: inline-block;
  padding: 2px;
  /*font: inherit;*/

}

.navbar a {
  color: white;
  text-decoration: none;
  background-color: #0c1a27;
  border-radius: 2px;
  padding: 5px;
}

.navbar button{
  background: none;
  /*font: inherit;*/
  border: solid 1px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-color: #0c1a27;
}
/*intro*/
.intro h1, h2, h3, li {
  text-align: center;
  /*white-space: nowrap;*/
  color: white;
}
.intro p {
  margin-left: 15%;
  margin-right: 15%;
  padding: 30px;
  text-align: left;
  color: white;
}

.intro ul {
  list-style-position: inside;
}
.intro > h3 {
  margin-right: 15%;
}
.intro li {
  margin-right: 15%;
  padding-bottom: 5px;
}
.skyMap img {
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 15%;
  margin-bottom: 3%;
}


   /*table */
table {
  border-spacing: 0;
  border-collapse: collapse;
  float: right;
  margin-left: 15%;
  margin-right: 15%;
  overflow: hidden;
  border-radius: 5px;
  padding: 20px;

  margin-left: 20px;
}
td, th {
 /*border: 1px solid #999;*/
 padding: 0.5rem;
 color: white;
}
tbody tr:nth-child(odd) {
  background: #614E62;
  border: 1px solid #235963;
}
tbody tr:nth-child(even) {
  background: #68666b;
  border: 1px solid #235963;
}
.starTable p {
  /*margin: 12%;*/
  /*padding: 10px;*/
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 10%;
}
.starTable h2, h4 {
  margin-left: 15%;
  margin-right: 15%;
}
.headingColor {
  background-color: #235963;
  border: 1px solid #235963;
  color: white;
}

/*gallery*/

.thumb {
  margin-right: -12%;
  /*margin-top: 20px;*/
  float: left;
  margin-left: 12%;
  overflow: hidden;
}

.thumb img {
  /*width: 100px;
  height: 100px;*/
  border-radius: 2px;
  border: 3px solid #235963;
  margin: 0px 15px 15px 0;
}
.thumb img:hover {
  border: solid 4px #990922;
}

.gallery h2 {
  padding: 20px;
}
.gallery p {
  /*padding: 10px;*/
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 25px;
}
